
.info{
	border: solid 2px black;
	background: white;
	text-align: center;
	width:1000px;
	padding:30px;
	margin-top:200px;
	display:inline-block;
        font-size: large;
        font-weight:bold;
        color:#6AAFA5
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
   
}
p{font-size:70%;
color:grey   }
h1{color:#A063A0}
td{color:#1E3B93}
